<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MineShift - Control Minero</title>
    <link rel="stylesheet" href="css/style.css">
</head>



<body>

    <!-- Integrantes: Claudia Peña, Pablo Donoso, Alejandra Gonzalez -->
    <!-- Encabezado de la pagina -->
    <header>
        <img src="img/logo.jpeg" alt="Logo MineShift" width="250 ">
        <div class="texto-header">
        <h1>MineShift</h1>
        <p>Control de Accesos y Turnos</p>
        </div>
    </header>

    <!-- menu de navegacion -->
    <nav>
        <ul>
            <li><a href="index.html" class="active">Panel Principal</a></li>
            <li><a href="pagina_2.html">Registro de Acceso</a></li>
            <li><a href="pagina_3.html">Reportes de Descanso</a></li>
        </ul>
    </nav>

    <!-- contenido principal -->
    <main>
        <div class="caja-principal">

        <!-- tematica del contenido -->
        <section>
            <h2>Panel de Supervision</h2>

            <!-- articulo independiente y autocontenido -->
            <article>
                <h3>Trabajadores de Turno</h3>
                <p>Lista de operarios activos en las distintas zonas de <strong>Riesgo</strong> de la faena</p>

            <!-- tabla de trabajador y estado -->
            <table border="1">

                <!-- encabezado -->
                <tr>
                    <th>Nombre</th>
                    <th>Zona Asignada</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>Alejandra Gonzalez</td>
                    <td>Tajo Abierto</td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <td>Claudia Peña</td>
                    <td>Tajo Abierto</td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <td>Pablo Donoso</td>
                    <td>Planta Chancado</td>
                    <td>En Descanso</td>
                </tr>
            </table>
            </article>
        </section>
        </div>
    </main>

    <!-- pie de pagina -->
    <footer>
    <p>&copy; 2026 MineShift</p>
    <p>Contacto: <a href="mailto:soporte@mineshift.cl">soporte@mineshift.cl</a></p>

    <ul style="list-style: none; padding: 0;">
        <li style="display: inline; margin: 0 10px;"><a href="#">Facebook</a></li>
        <li style="display: inline; margin: 0 10px;"><a href="#">X (Twitter)</a></li>
        <li style="display: inline; margin: 0 10px;"><a href="#">LinkedIn</a></li>
    </ul>
</footer>

    
</body>
</html>